.article,
.viewed>div {
  background-color: #eee;
  border-radius: .3rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.article:hover,
.viewed>div:hover {
  background-color: #ddd;
}

.article img,
.viewed img {
  border-radius: .35rem .35rem 0 0;
  height: auto;
  width: 100%;
}

.article div,
.viewed>div>div {
  padding: 0 1rem;
}

.viewed h5,
.viewed p {
  margin: .5rem 0;
}

@media screen and (min-width: 768px) {
  .article {
  flex-direction: row;
}

  .article img {
  border-radius: .35rem 0 0 .35rem;
  height: auto;
  width: 6rem;
}

}