.aside-author {
  margin-top: 1rem;
}

.aside-author img,
.aside_article img {
  height: auto;
  width: 100%;
}

.aside-author h4 {
  margin: .5rem 0;
}

.aside-author ul {
  font-size: small;
  margin: 0;
  padding-left: 1rem;
  padding: 0;
}

.aside_article {
  cursor: pointer;
}

.aside_article div {
  margin-bottom: 1rem;
}

.aside_article div:hover {
  background-color: #eee;
}

.aside_article h5 {
  margin: 0;
  padding: .5rem;
}